@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html { font-family: 'Asap', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

  html, body, #__next {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}