@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .h-screen {
    height: var(--screenHeight);
  }
}
@layer base {
	@font-face {
		font-family: 'Asap';
		font-style:  normal;
		font-weight: 400;
		font-display: swap;
		src: url("/fonts/asap/woff2/Asap-Regular.woff2?v=3.18") format("woff2"),
				url("/fonts/asap/woff/Asap-Regular.woff?v=3.18") format("woff");
	}
	@font-face {
		font-family: 'Asap';
		font-style:  italic;
		font-weight: 400;
		font-display: swap;
		src: url("/fonts/asap/woff2/Asap-Italic.woff2?v=3.18") format("woff2"),
				url("/fonts/asap/woff/Asap-Italic.woff?v=3.18") format("woff");
	}

	@font-face {
		font-family: 'Asap';
		font-style:  normal;
		font-weight: 500;
		font-display: swap;
		src: url("/fonts/asap/woff2/Asap-Medium.woff2?v=3.18") format("woff2"),
				url("/fonts/asap/woff/Asap-Medium.woff?v=3.18") format("woff");
	}
	@font-face {
		font-family: 'Asap';
		font-style:  italic;
		font-weight: 500;
		font-display: swap;
		src: url("/fonts/asap/woff2/Asap-MediumItalic.woff2?v=3.18") format("woff2"),
				url("/fonts/asap/woff/Asap-MediumItalic.woff?v=3.18") format("woff");
	}

	@font-face {
		font-family: 'Asap';
		font-style:  normal;
		font-weight: 600;
		font-display: swap;
		src: url("/fonts/asap/woff2/Asap-SemiBold.woff2?v=3.18") format("woff2"),
				url("/fonts/asap/woff/Asap-SemiBold.woff?v=3.18") format("woff");
	}
	@font-face {
		font-family: 'Asap';
		font-style:  italic;
		font-weight: 600;
		font-display: swap;
		src: url("/fonts/asap/woff2/Asap-SemiBoldItalic.woff2?v=3.18") format("woff2"),
				url("/fonts/asap/woff/Asap-SemiBoldItalic.woff?v=3.18") format("woff");
	}

	@font-face {
		font-family: 'Asap';
		font-style:  normal;
		font-weight: 700;
		font-display: swap;
		src: url("/fonts/asap/woff2/Asap-Bold.woff2?v=3.18") format("woff2"),
				url("/fonts/asap/woff/Asap-Bold.woff?v=3.18") format("woff");
	}
	@font-face {
		font-family: 'Asap';
		font-style:  italic;
		font-weight: 700;
		font-display: swap;
		src: url("/fonts/asap/woff2/Asap-BoldItalic.woff2?v=3.18") format("woff2"),
				url("/fonts/asap/woff/Asap-BoldItalic.woff?v=3.18") format("woff");
	}

  :root {
    --vh: 1vh;
    --screenHeight: calc(var(--vh, 1vh) * 100);
    --screenSemiHeight: calc(var(--vh, 1vh) * 50);
  }

  html, body, #__next {
    width: 100vw;
    height: var(--screenHeight);
    overflow: hidden;
    font-family: 'Asap var', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  }
  @supports (font-variation-settings: normal) {
		html, body, #__next { font-family: 'Asap', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important; }
	}
}