.centerPill {
  transform: scale(1) translate(0, 0);
}

.centerPillDesktopClosed {
  transform: scale(.75) translate(80px, -80px);
}

.centerPillMobileClosed {
  box-shadow: none;
  transform: scale(.5) translate(145%, 348px);
}

.hourButton {
  pointer-events: bounding-box;
  user-select: none;
  cursor: pointer;
}

.hourButton rect {
  fill: white;
  transition: fill 200ms ease-in-out;
}

.hourButtonActive rect,
.hourButton:hover rect {
  fill: #1f2937;
}

.hourButton text {
  fill: #1f2937;
  transition: fill 200ms ease-in-out;
}

.hourButtonActive text,
.hourButton:hover text {
  fill: white;
}